* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C6E7FF;
    color: black;
    size: 1rem;
    transition: background-color 0.2s ease;
}

body.dark {
    background-color: dimgrey;
    color: whitesmoke;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;

}

.name {
    font-size: 3.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}


.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
}

.icon-button:hover {
    transform: scale(1.5);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 4.5px solid black;
    border-radius: 15px;
    margin: 50px;
    background-color: #FBFBFB;
    font-size: 1.5rem;
    padding: 10px;
}

li{
    margin: 10px;
}

h3{
    align-self: center;
}
.edu{
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 4.5px solid black;
    border-radius: 15px;
    background-color: #FBFBFB;
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 25px;
}

