* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C6E7FF;
    color: black;
    size: 1rem;
    transition: background-color 0.2s ease;
}

body.dark {
    background-color: black;
    color: #021526;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;

}

.name {
    font-size: 3.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}


.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
}

.icon-button:hover {
    transform: scale(1.5);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 4.5px solid black;
    border-radius: 15px;
    margin: 50px;
    background-color: #FBFBFB;
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 25px;
}

.about.dark{
    background-color: #03346E;
    color: white;
}
li{
    margin: 10px;
}

h3{
    align-self: center;
}
.edu{
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 4.5px solid black;
    border-radius: 15px;
    background-color: #FBFBFB;
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 25px;
}

.edu.dark{
    background-color: #03346E;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

a.dark{
    color: white;
}

a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: #D4F6FF;
    border: 1px black solid;
    margin: 10px;
    padding: 15px;
}
.footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22.5px;
}

.footer-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; 
    font-size: 25px;
}

.footer.dark{
    background-color: #536493;
    color: white;
}

.name{
    color: black;
}

.name.dark{
    color: white;
}